
input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.user {
    color: #800000;
}

/* #userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin: 0 0 0 250px;
    background: #eee;
    padding: 5px 10px;
    width: 150px;
    top: 30px;
} */

/* #chat_module {
    height: 256px;
} */

#chatwindow {
    height: 260px;
    overflow: auto;
    overflow-x: hidden;
}

#chatwindow span {
    font-size: 0.8em;
    color: #666;
}
